h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}

body {
    margin: 20px 75px 20px 75px;
}

form {
    margin: 5px 75px 5px 75px;
    font-size: 23px;
}

.boldLabel, #addClientBtn {
    font-weight: bold;
    font-size: 23px;
}

#addPersonLabel {
    margin-left: 75px;
}

#addClientBtn {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
    border-radius: 100px;
}