h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}


body {
    margin: 20px 75px 20px 75px;
}

form, .clientLabel {
    margin: 5px 75px 5px 75px;
    font-size: 23px;
}

.boldLabel, #addClientBtn {
    font-weight: bold;
    font-size: 23px;
}

#addPersonLabel {
    margin-left: 75px;
}

.delBtn {
  font-size: large;
}

input[type=submit], #addPersonBtn, #cancelBtn, #cancelAddingLesson {
    font-size: x-large;
}


#buttons {
  margin-left: auto;
  margin-right: auto;
}

#addClientBtn {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
    border-radius: 100px;
}

/* the popup form */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  height: 100%;
}

/* add styles to the form containers */
.form-container {
  max-width: 300px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f1f1f1;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password], .form-container select {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border-radius: 0.5px;
  background: white;
}
