h1 {
    text-align: center;
}

h2 {
    text-decoration: underline;
}


body {
    margin: 20px 75px 20px 75px;
}

form {
    margin: 5px 75px 5px 75px;
    font-size: 23px;
}

.boldLabel, #addClientBtn {
    font-weight: bold;
    font-size: 23px;
}

#addPersonLabel {
    margin-left: 75px;
}

input[type=submit] {
    font-size: x-large;
    margin-left: 75px;
}

#addClientBtn {
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 25px;
    border-radius: 100px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 5px;
  background-color: #f1f1f1;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  border-radius: 0.5px;
  background: white;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
  background: white;
}
