h1 {
  text-align: center;
}

a:visited, a {
  color: black;
  text-decoration: none;
}

h2 {
  text-decoration: underline;
}


body {
    margin: 20px 75px 20px 75px;
    overflow: scroll;
    overflow-x: hidden;
    /* Trebuchet-based sans serif stack */
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

form.bigger, .clientLabel {
  margin: 5px 75px 5px 75px;
  font-size: 23px;
}

.boldLabel, #addClientBtn, #addLessonPlusBtn, #cancelAddingLesson {
  font-weight: bold;
  font-size: 23px;
}

#addPersonLabel {
  margin-left: 75px;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  padding: 20px;
}

.editBtn {
  font-size: large;
  margin: 5px;
}

input[type=submit], #addPersonBtn, #cancelBtn {
  font-size: x-large;
}

#cancelBtn {
  float: right;
}


#buttons {
margin-left: auto;
margin-right: auto;
}

#addClientBtn {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 25px;
  border-radius: 100px;
}

#addLessonPlusBtn, #cancelAddingLesson {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
  margin-left: 10px;
}

/* the popup form */
.form-popup {
display: none;
position: fixed;
bottom: 0;
right: 15px;
height: 100%;
}

/* add styles to the form containers */
.form-container {
max-width: 300px;
height: 100%;
padding-left: 10px;
padding-right: 10px;
background-color: #f1f1f1;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=email], .form-container input[type=password], .form-container select {
width: 100%;
padding: 5px;
margin: 5px 0 22px 0;
border-radius: 0.5px;
background: white;
}